.maindiv {
    border: 5px outset rgb(0, 128, 182);
    background-color: rgb(136, 223, 255);
    text-align: center;
    outline-style: solid;
    outline-color:black;
    outline-width: 10px;
    outline-offset: -15px;
  }
.titlemd {
    color: red ;
}